{%extends "base.html" %}
{% load static %}

{% block title %}Food Trend Analysis{% endblock %}

{% block mainbody %}

<h1>Food Trend Analysis</h1>
<p>Analysing Intagram posts</p>
<form action="" method="POST">
    {% csrf_token %}
    {{ form }}
    <div id="loading">
        <div class="jumping-dots-loader">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <button onclick="load_and_submit(this)">Submit</button>
</form>
<script>
    $("#loading").hide();
    function load_and_submit(myform) {
        $("#loading").show();
    }
</script>

{% endblock %}
