<div id="cronofy-availability-rules"></div>
<script src="https://elements.cronofy.com/js/CronofyElements.v0.8.1.js"></script>
<script>
    CronofyElements.AvailabilityRules({
        token: "ELEMENT_TOKEN",
        target: 'cronofy-availability-rules',
        availability_rule_id: "work_hours",
        start_time:"08:00",
        end_time: "22:00",
        duration: 60,
        demo: true,
        styles: {
            colors: {
                available: "green",
                unavailable: "red"
            },
            prefix: "custom-name"
        }
    });
</script>